amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
billiard==3.3.0.23
celery==3.1.25
click==6.7
dj-database-url==0.4.2
Django==1.10.6
django-celery==3.2.1
itsdangerous==0.24
Jinja2==2.9.5
kombu==3.0.37
MarkupSafe==1.0
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
public==0.0.0
pyparsing==2.2.0
pytz==2017.2
query-string==0.0.0
requests==2.13.0
requests-oauthlib==0.8.0
setupfiles==0.0.0
six==1.10.0
SQLAlchemy==1.1.7
Werkzeug==0.12.1
WTForms==2.1
