appdirs==1.4.3
click==6.7
dj-database-url==0.4.2
Django==1.10.6
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
six==1.10.0
SQLAlchemy==1.1.7
Werkzeug==0.12.1
WTForms==2.1
