{% extends "_invite_base.html" %}s
{% block content %}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <h1>Dein Termin ist gebucht!</h1>
      <p>Das Gespräch mit <strong>{{apt.interview_lead.get_full_name|default:apt.interview_lead.username}}</strong> und <strong>{{apt.interview_snd.get_full_name|default:apt.interview_snd.username}}</strong> ist geplant für <strong>{{apt.datetime|date:"l, j. F Y"}} um {{apt.datetime|time:"TIME_FORMAT"}}</strong> Bitte plane 25min für das Gespräch ein.<p>

      <p>Klicken dann einfach in Deinem Browser auf <a href="{{apt.link}}">diesen Link {{apt.link}}</a>
    </div>
    </a>
  </div>
{% endblock %}