{% extends "_invite_base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Hallo {{name}}!</h1>
    <p>
    Bitte wähle aus den unten gelisteten Terminen eine Zeit, die Dir passt. Bitte plane etwa 25 Minuten für das Gespräch ein. Wir nutzen für das Gespräch einen Online-Telefon-Konferenz-Dienst, den Du entweder über eine installierte Anwendung am Computer, per App auf einem Smartphone (oder Tablet) oder per Telefon-Anruf nutzen kannst. Eine Anleitung sowie die Zugangsdaten werden Dir nach der Auswahl in der Termin-Bestätigungs-Email zugesandt.</p>
    {% regroup slots by day as slot_list %}
    <form method="POST" onsubmit="return confirm('Diesen Termin auswählen?')" class="form-inline">
    {% csrf_token %}
      {% for day in slot_list %}

        <div class="card">
          <div class="card-body">
            <div class="card-title">{{ day.list|first|date:"l, j. F Y" }}</div>
            <div class="card-text">
              {% for slot in day.list %}
                  <button type="submit" class="btn btn-outline-primary" name="slot" value="{{slot|date:'c'}}">
                  <span>{{ slot|time:"TIME_FORMAT" }} Uhr </span>
                </button>
              {% endfor %}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="alert alert-warning" role="alert">
          <h3>Keine freien Termine</h3>
          <p>Es gibt aktuell leider keine freien Termine, versuche es bitte später noch mal.</p>
        </div>
      {% endfor %}
    </form>
    <br />    <br />
    <p><strong>Nichts Passendes dabei?</strong> Kein Problem, komm einfach später noch mal wieder, diese Liste aktualisiert sich ständig.</p>
  </div>
</div>
{% endblock %}
