{% extends "_base.html" %}

{% block content %}
<style type="text/css">
  label.highlight {
  font-style: italic;
  color: darkgoldenrod;
}

</style>

<div class="container">
    {% regroup slots by day as slot_list %}
    <form method="POST">
        {% csrf_token %}

        <div class="card">
            <div class="card-body">

                <h2>Einstellungen</h2>
                <p>Die folgenden Daten werden nach Terminvereinbarung an die Bewerber*innen weitergegeben.</p>
                <div class="form-group">
                    <label for="txtFirstname">Dein Vorname: </label>
                    <input id="txtFirstname" class="form-control" type="text" name="first_name" required
                           value="{{interviewer.first_name|default:""}}">
                </div>
                <div class="form-group">
                    <label for="txtFirstname">Dein Nachname: </label>
                    <input type="text" class="form-control" name="last_name" required
                           value="{{interviewer.last_name|default:""}}">
                </div>
                <div class="form-group">
                    <label for="txtFirstname">Deine E-Mail: </label>
                    <input type="email" class="form-control" name="email" required value="{{interviewer.email|default:""}}">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3>Hier bitte die Verfügbarkeit wählen</h3>
                {% include "misc/buttons/save.html" %}
            </div>

            <div class="card-body">

                {% for entry in frames %}

                <div class="card card-outline-info">
                    <div class="card-body">
                        <h4 class="card-title text-muted">{{ entry.day|date:"l, j. F Y" }}</h4>
                        <div class="card-text">
                            <div class="row">
                                {% for t in entry.times %}
                                <label class="col-md-2 col-6 {% if t.recommended %}highlight{% endif %}"><input
                                        type="checkbox" {% if t.checked %}checked{% endif %} name="slot"
                                        value="{{t.slot|date:'c'}}"> {{ t.slot|time:"H:i" }} Uhr </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                {% endfor %}
                {% include "misc/buttons/save.html" %}
            </div>
    </form>
</div>
{% endblock %}
