{% extends "_base.html" %}s
{% block content %}
  <div class="row">
    <div class="alert alert-success" role="alert">
      <h1>Ihr Termin ist gebucht</h1>
      <p>Das Gespräch mit <strong>{{apt.interview_lead.name}}</strong> und <strong>{{apt.interview_snd.name}}</strong> ist geplant für <strong>{{apt.datetime|date:"l, j. F Y"}} um {{apt.datetime|time:"TIME_FORMAT"}}</strong> Bitte planen Sie 25min für das Gespräch ein.<p>

      <p>Klicken Sie dann einfach in Ihrem Browser auf <a href="{{apt.link}}">diesen Link {{apt.link}}</a>
    </div>
    </a>
  </div>
{% endblock %}