{% extends "_base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Hallo {{name|default:""}}</h1>
  <p>
  Bitte wählen Sie aus den unten gelisteten Terminen eine Zeit, die Ihnen passt. Bitte planen Sie etwa 25 Minuten für das Gespräch ein. Das Gespräch wird über den <a href="https://talky.io/">talky.io</a>-Webdienst durchgeführt, Sie brauchen daher zum Zeitpunkt des Gesprächs einen Computer mit Kamera und Mikrofon (oder Android Smartphone) und eine Internetverbindung. Der Link zu dem Webdienst wird Ihnen per Email zugesandt. Den Link klicken Sie dann einfach an.</p>
  {% regroup slots by day as slot_list %}
  <form method="POST" class="form-inline">
  {% csrf_token %}
  {% if slot_list %}
    <div class="form-group">
      {% for day in slot_list %}

        <div class="panel panel-default">
          <div class="panel-heading">{{ day.list|first|date:"l, j. F Y" }}</div>
          <div class="panel-body">
            {% for slot in day.list %}
              <label>
                <input type="radio" name="slot" value="{{slot|date:'c'}}">
                <span>{{ slot|time:"TIME_FORMAT" }} Uhr </span>
              </label>
            {% endfor %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Termin vereinbaren</button>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      <h3>Keine offenene Termine</h3>
      <p>Es gibt aktuell keine freien Termine, versuchen Sie es bitte später nochmal</p>
    </div>
  {% endif %}
  </form>
  <p><strong>Nichts passendes dabei?</strong> Kein Problem, kommen Sie einfach später nochmal wieder, diese Liste aktualisiert sich ständig.</p>
</div>
{% endblock %}