<!DOCTYPE html>
<html>
<head>
  <title>Gespächstermin buchen</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
  <div class="row">
    {% if message %}
    <div class="alert alert-warning" role="alert">
      {{message}}
    </div>
    {% endif %}
    <div class="jumbotron">
      <h1>Hallo {{name|default:""}}</h1>
      <p>
      Bitte wählen Sie aus den unten gelisteten Terminen eine Zeit, die Ihnen passt. Bitte planen Sie etwa 25 Minuten für das Gespräch ein. Das Gespräch wird über den <a href="https://talky.io/">talky.io</a>-Webdienst durchgeführt, Sie brauchen daher zum Zeitpunkt des Gesprächs einen Computer mit Kamera und Mikrofon (oder Android Smartphone) und eine Internetverbindung. Der Link zu dem Webdienst wird Ihnen per Email zugesandt. Den Link klicken Sie dann einfach an.</p>
      {% regroup slots by day as slot_list %}
      <form method="POST" class="form-inline">
      {% csrf_token %}
      {% if slot_list %}
        <div class="form-group">
          {% for day in slot_list %}

            <div class="panel panel-default">
              <div class="panel-heading">{{ day.list|first|date:"l, j. F Y" }}</div>
              <div class="panel-body">
                {% for slot in day.list %}
                  <label><input type="radio" name="slot" value="{{slot|date:'c'}}">{{ slot|time:"TIME_FORMAT" }} Uhr </label>
                {% endfor %}
              </div>
            </div>
            <button type="submit">Termin vereinbaren</button>
          {% endfor %}
        </div>
      {% else %}
        <div class="alert alert-warning" role="alert">
          <h3>Keine offenene Termine</h3>
          <p>Es gibt aktuell keine freien Termine, versuchen Sie es bitte später nochmal</p>
        </div>
      {% endif %}
      </form>
    </div>

  </div>
</div>
</body>
</html>